header {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 20px;
}

header h1 a {
    color: rgb(56, 147, 189);
    text-decoration: none;
}

header h1 a:hover {
    color: brown;
}

.post-entry {
    border: 1px solid grey;
    border-radius: 10px;
    width: 400px;
}

.post-entry h2 {}

.post-entry h2 a {
    color: aqua;
}